.button {
    -fx-graphic: url('../Image/translation.png');
}

.button:hover {
    -fx-graphic: url('../Image/translation.png');
}
.button {
    -fx-background-color: rgba(128, 128, 128, 0.52);
    -fx-text-fill: rgba(0, 0, 0, 0.63);
    -fx-font-size: 11;
}

.button:hover {
    -fx-background-color: aqua;
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.button.active {
    -fx-background-color: aqua;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#select1, #select2 {
    -fx-background-color: lightblue; /* Background color */
    -fx-border-color: #000000; /* Border color */
    -fx-border-width: 2px; /* Border width */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: #000000; /* Text color */
    -fx-border-radius: 2px;
}